@import "./_Vars";

header{
    &.section-header{
        padding-block: 1rem 0;
      h2{
        font-size: clamp(3rem, 5vw, 50px);
        text-align: center;
        color: var(--clr-text-200);
        font-family:var(--heading-font);
        em{
          scale: unset;
          font-size: inherit;
          text-shadow: -5px 0 5px #00000030;
        }
      }
      p{
        max-width: 500px;
        text-align:center;
        margin-inline:auto;
      }
    }
   
  }