@import "./_Vars";
section.between-section{
    margin: 0;
    padding: 0;
    .skills{
        display:flex;
        flex-flow: row wrap;
        justify-content: space-around;
        gap: 2rem;
        li{
            a{
                display: block;
                width: 80px;
                aspect-ratio: 1;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--clr-bg-100);
                svg{
                    height: 50px !important;
                }
            }
        }
    }
}