@import "./Vars";
#hero{
    background-image:url("/General/Dots.svg");
    background-size: cover;
    background-repeat: space;
    background-blend-mode: darken;
    .wrapper{
      display:flex;
      flex-direction: column;
      justify-content: flex-end;
      min-height: 90svh;
      position: relative;
      background:linear-gradient(to bottom, #dadada 60%, hsl(194, 100%, 80%) 30%, rgb(3, 179, 248) 50%);
      //  background: #394c58;
      @include tablet{
        background:linear-gradient(to bottom, hsl(194, 100%, 80%) 0%, rgb(3, 179, 248) 50%);
    }
      &::before{
        content:"";
        position: absolute;
        z-index: 5;
        inset: 0;
        backdrop-filter: blur(1px);
      }
      &::after{
        content:"";
        position:absolute;
        inset:0;
        height: 100%;
        background-image:url('/General/Backgrounds/customBG.png');
        background-size: 120%;
        background-position:bottom;
        z-index: 0;
        background-repeat: no-repeat  ;
        // opacity: 0.5;
        // filter: blur(5px);
        // background-blend-mode: multiply;

      }
      #start-hero-canvas{
        position:absolute;
        inset: 0;
        width: 100%;
        height: 100%;
      }
    }
    .content{
      text-align:center;
      z-index: 10;
      transform:translateY(6svh);
      @include tablet{
        transform: unset;
      }
      h2{
        .top{
          font-weight: 400;
          font-family: var(--text-font);
          margin-block-end: 1rem;
          display: block;
          font-size: 0.9rem;
          @include tablet{
           font-size: 1.2rem;
          }
        }
        .main{
          display:block;
          text-transform: uppercase;
          font-weight:normal;
          overflow: hidden;
          font-size:3rem;
          font-weight: 900;
          @include tablet{
            font-size:4rem;
            font-weight: normal;
          }
          em{
            font-size: clamp(1.5rem, 10vw + 1px, 50px);
            scale:  1.1;
            font-weight: 900;
            rotate: 15deg;
            text-shadow: 2px 5px 20px #00000090;
            display: block;
            scale: 2;
            @include tablet{
              display: inline-block;
              scale: 1.5;
              mix-blend-mode: multiply;
            }
          }
        }
      }
    }
    .media{
      width: 80%;
      max-width:400px;
      margin-inline: auto;
      z-index: 10;
    }
    
  }


  @include desktop{
    #hero{
      .wrapper {
        flex-direction: row-reverse;
        align-items: center;
        gap: 1rem;
        justify-content: center;
        min-height:unset;
        position: relative;
        &::after{
          content:"";
          position:absolute;
          inset:0;
          background-size: cover;
          background-position:center;
          z-index: 0;
          background-repeat: no-repeat  ;
        }
      }
      .content{
        transform:translateY(10svh);
        text-align:left;
        background-color: var(--clr-bg-100);
        padding: 1rem;
        border-radius: 10px;
      }
      .media {
          width: fit-content;
          max-width: unset;
          margin-inline: unset;
          img{
            width:auto;
          }
      }
    }
  }