@import "./Vars";
#hero{
    background-image:url("/General/Dots.svg");
    background-size: cover;
    background-repeat: space;
    background-blend-mode: darken;
    .wrapper{
      display:flex;
      flex-direction: column;
      justify-content: flex-end;
      min-height: 90svh;
      position: relative;
      background:linear-gradient(to bottom, hsl(194, 100%, 50%) 0, rgb(190, 237, 255) 50%);
      &::before{
        content:"";
        position: absolute;
        z-index: 5;
        inset: 0;
        backdrop-filter: blur(1px);
      }
      &::after{
        content:"";
        position:absolute;
        inset:0;
        height: 100%;
        background-image:url('/General/Backgrounds/customBG.png');
        background-size: cover;
        background-position:center;
        z-index: 0;
        background-repeat: no-repeat  ;
        // opacity: 0.5;
        filter: blur(5px);
        // background-blend-mode: multiply;

      }
      #start-hero-canvas{
        position:absolute;
        inset: 0;
        width: 100%;
        height: 100%;
      }
    }
    .content{
      text-align:center;
      z-index: 10;
      h2{
        .top{
          font-weight: 400;
          font-size: 1rem;
          font-family: var(--text-font);
        }
        .main{
          display:block;
          font-size:clamp(1rem, 8vw + 1px, 3rem);
          text-transform: uppercase;
          // font-weight:normal;
          em{
            font-size: clamp(1.5rem, 10vw + 1px, 4rem);
            scale:  1.1;
            font-weight: 900;
            rotate: 15deg;
          }
        }
      }
    }
    .media{
      width: 80%;
      max-width:400px;
      margin-inline: auto;
      z-index: 10;
    }
    
  }


  @include desktop{
    #hero{
      .wrapper {
        flex-direction: row-reverse;
        align-items: center;
        gap: 1rem;
        justify-content: center;
        min-height:unset;
        position: relative;
        &::after{
          content:"";
          position:absolute;
          inset:0;
          background-size: cover;
          background-position:center;
          z-index: 0;
          background-repeat: no-repeat  ;
        }
      }
      .content{
        transform:translateY(10svh);
        text-align:left;
        background-color: var(--clr-bg-100);
        padding: 1rem;
        border-radius: 10px;
      }
      .media {
          width: fit-content;
          max-width: unset;
          margin-inline: unset;
          img{
            width:auto;
          }
      }
    }
  }