@import "/Fonts/switzer-webfont/style.css";
//Colors
$clrs:(
  text:(
   100:hsl(0, 0%, 91%),
   200:hsl(0, 0%, 81%),
   300:hsl(0, 0%, 71%),
  ),
  bg:(
    100:hsl(216, 72%, 17%),
    200:hsl(216, 72%, 27%),
    300:hsl(216, 72%, 37%),
  ),
  call:(
    100:hsl(138, 90%, 45%),
    200:hsl(138, 90%, 55%),
    300:hsl(138, 90%, 65%)
  )
);

$clrsLight:(
  text:(
    100:hsl(216, 72%, 17%),
    200:hsl(216, 72%, 27%),
    300:hsl(216, 72%, 37%),
  ),
  bg:(
    100:hsl(0, 0%, 91%),
    200:hsl(0, 0%, 81%),
    300:hsl(0, 0%, 71%),
  ),
  call:(
    100:hsl(138, 90%, 45%),
    200:hsl(138, 90%, 55%),
    300:hsl(138, 90%, 65%)
  )
);
//Mixin
@mixin tablet{
  @media screen and (min-width:700px){@content;}
};

@mixin desktop{
  @media screen and (min-width:970px){@content;}
};

@mixin bigscreen{
  @media screen and (min-width:1400px){@content;}
};

@mixin extralarge{
  @media screen and (min-width:1980px){@content;}
};



*, *::after, *::before{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  
  :root {

    @each $clr, $vls in $clrs{
      @each $subClr, $vl in $vls{
        --clr-#{$clr}-#{$subClr}: #{$vl};
      }
    }
    --text-font:"Switzer", sans-serif;
    // --text-font:"Chivo Mono", monospace;
    // --heading-font: "Switzer", sans-serif;
    --heading-font: "Rubik Mono One", monospace;;
    --p:2rem;
    --shadow:2px 2px 2px  #00000040;
  }
  
 
 
  
  .logo-container img{
    filter: brightness(1);
  }  

  html, body{
    font-family: var(--text-font);
    background-color: var(--clr-bg-100);
    color: var(--clr-text-100);
    min-height: 80svh;
  }
  

  h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
  }

  body[data-colormode="light"]{
    @each $clr, $vls in $clrsLight{
      @each $subClr, $vl in $vls{
        --clr-#{$clr}-#{$subClr}: #{$vl};
      }
    }
  }
  

  
  body[data-colormode="dark"]{
    @each $clr, $vls in $clrs{
      @each $subClr, $vl in $vls{
        --clr-#{$clr}-#{$subClr}: #{$vl};
      }
    }
   .logo-container{
    img{
      filter: brightness(1) !important;
    }
   }
  }
  body[data-colormode="light"] .logo-container img{
    filter: brightness(100);
  }
 
  @media (prefers-color-scheme: light) {
    :root{
      @each $clr, $vls in $clrsLight{
        @each $subClr, $vl in $vls{
          --clr-#{$clr}-#{$subClr}: #{$vl};
        }
      }
    }
    .logo-container {
      img{
        filter: brightness(100);
      }
    }
  }
  
  h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
  }
  
  a{
    text-decoration: none;
    color: var(--clr-text-100);
    font-weight: 600;
  }
  p{
    font-size: 1.24rem;
    letter-spacing: 0.3px;
  }
  ul[class]{
    list-style: none;
  }
  img,svg{
    display:block;
    width: 100%;
  }
  .wrapper{
    padding-inline: var(--p);
    max-width:1350px;
    margin-inline:auto;
  }
  .burger-menu{
    display:flex;
    flex-direction: column;
    gap: 2px;
    justify-content: space-between;
    height: 25px;
    width: 30px;
    background-color: transparent;
    border: transparent;
  }
  .burger-menu span{
    position:relative;
    height: calc(100% / 5);
    display:block;
    background-color: var(--clr-bg-100);
    transition: all 0.5s;
  }
  body.open .burger-menu span:nth-child(2){
    opacity: 0;
  }
  body.open .burger-menu span:nth-child(1){
    top:37%;
    rotate:45deg;
  }
  body.open .burger-menu span:nth-child(3){
    bottom:42%;
    rotate:-45deg;
  }
  header{
    &#main-header{
      z-index: 999;
      position:sticky;
      top: -35px;
    }
  }
  header#main-header {
    .wrapper{
      padding-inline: 0;
      .top-header{
        padding-inline:var(--p);
        display: flex;
        justify-content: space-between;
        align-items: center;
        // margin-block: 0.5rem;
        .extern-links{
            display: flex;
            justify-content: flex-end;
            gap: 0.5rem;
            li{
              border-radius: 5px;
              transition: all .3s;
              &:hover{
                transition: all 0.3s;
                box-shadow: 2px 2px 10px #00000080;
                scale: 1.1;
                z-index: 10;
              }
            }
            a{
                padding:5px 2px;
                display:block;
                transition: all 0.3s;
                &:hover{
                  color: #eee;
                }
                svg{
                    height: 1.35rem;
                }
            }
          }
        
      }
    }
  }
  
  header#main-header .colorMode-container{
    position:relative;
    width: fit-content;
    z-index: 900;
    .colorMode-menu{
      display:flex;
      gap: 0.5rem;
      align-items:center;
      padding: 5px;
      border-radius:5px;
      cursor: pointer;
      transition: all .3s;
      .icon-container{
        transition: all 0.2s;
      }
      &:hover, &.open{
        background-color: var(--clr-bg-200);
        .icon-container{
          transform:translateX(3px);
        }
      }
      .colorMode-content{
        display:flex;
        gap: 0.5rem;
        align-items:center;
        width: fit-content;
        white-space: nowrap;
      }
      .text{
        font-size:x-small;
        text-transform: uppercase;
      }
      .icon{
        font-size: small;
      }

    }
    .colorMode-dropdown{
      position: absolute;
      top: 0;
      left: 50%;
      width: fit-content;
      z-index: 999;
      background-color: var(--clr-bg-100);
      border-radius: 5px;
      padding: 5px;
      white-space: nowrap;
      box-shadow: 2px 2px 20px #00000050;
      transition: all 0.5s;
      pointer-events: none;
      opacity: 0;
      &.open{
        opacity: 1;
        left: 100%;
        pointer-events: auto; 
      }
      li{
        display: flex;
        justify-content: space-between;
        padding: 3px;
        margin-block: 3px;
        gap:0.5rem;
        font-size: smaller;
        cursor: pointer;
        transition:all 0.3s;
        &:hover{
          background-color: var(--clr-bg-300);
        }
        &.active{
          background-color: var(--clr-bg-200);
        }
        .icon{
          width: 20px;
        }
      }
    }
  }
  header#main-header .logo-container a{
    display: block;
    max-width: 50px;
  }
  header#main-header .wrapper nav{
    position: relative;
    background-color:var(--clr-text-100);
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px var(--p);
  }
  header#main-header nav ul.nav-items{
    position:absolute;
    width: 70%;
    max-width: 600px;
    right: var(--p);
    top: 250%;
    border-radius:10px;
    box-shadow: var(--shadow);
    background-color: var(--clr-text-100);
    padding-block: 2rem;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-delay:0.2s;
    opacity: 0;
    pointer-events: none;
  }
  body.open{
    scroll-behavior: none;
    overflow: hidden;
    header#main-header nav ul.nav-items{
      opacity: 1;
      pointer-events: all;
      top: 120%;
    }
  }
  header#main-header nav ul.nav-items a{
    display: block;
    color: var(--clr-bg-100);
    padding-block: 0.5rem;
    margin-block:0.2rem;
    text-align: center;
    position:relative;
    text-transform: uppercase;
    font-weight: 900;
    transition:all 0.3s;
    &.active{
      color:var(--clr-bg-300);
      &::after{
        content:"";
        position:absolute;
        bottom: 0;
        left: 50%;
        transform:translateX(-50%);
        width: 30%;
        height: 0.55rem;
        background-image: url("/General/UnderLine.svg");
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    
  }
  body::before{
    content:"";
    opacity: 0;
    top: 60%;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    position:fixed;
    z-index: 0;
    transition: all 0.2s;
    background-image:linear-gradient(to top, #000000, transparent);
    backdrop-filter: blur(5px);
  }
  body.open::before{
    opacity: 1;
    top: 0;
   
  }


  .call{
    position:relative;
    a{
      display: block;
      width: fit-content;
      padding: 1rem 1rem 1rem 0rem;
      font-size: 1.3rem;
      text-transform: uppercase;
      margin-inline:auto;
      position:relative;
      &::after{
        content:"";
        position:absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1.4rem;
        background-image: url("/General/UnderLine.svg");
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
  section{
    margin-block-end: 10rem;
    header{
      &.section-header{
        h2{
          font-weight: 100;
          font-size: clamp(32px, 16vw + 1px, 72px);
          text-align: center;
          color: var(--clr-text-200);
          font-family:var(--heading-font);
          em{
            font-style: normal;
            font-weight: 900;
            color: var(--clr-call-100);
          }
        }
        p{
          max-width: 500px;
          margin-inline: auto;
          font-size: 14px;
          text-align: center;
        }
      }
    }
  }
  #hero{
    background-image:url(/General/Dots.svg);
    background-size: cover;
    background-repeat: space;
    background-blend-mode: darken;
    .wrapper{
      display:flex;
      flex-direction: column;
      justify-content: flex-end;
      min-height: 90svh;
    }
    .content{
      text-align:center;
      h2{
        font-family: var(--text-font);
        .top{
          font-size: 1rem;
          font-weight: 500;
        }
        .main{
          display: block;
          font-size: 1.6rem;
          margin-block: 1rem;
          font-weight: 900;
          text-transform: uppercase;
        }
        em{
          font-size: 3rem;
          scale: 1.5;
          font-style: normal;
          display: block;
          color: var(--clr-call-100);
          text-shadow:var(--shadow);
          rotate:15deg;
          margin-inline: auto;
          width: fit-content;

        }
      }
      p{
        font-family: var(--text-font);
        font-size: 1rem;
      }
    }
    .media{
      width: 80%;
      max-width:400px;
      margin-inline: auto;
    }
  }

.rotate{
  --timer : 100s;
  animation: rotateit var(--timer) linear infinite;
}

.rotate > *{
  animation: rotateBackwards var(--timer) linear infinite;
}

@keyframes rotateit {
  0%{
    rotate:0
  }
  100%{
    rotate:360deg;
  }
}
@keyframes rotateBackwards {
  0%{
    rotate:0;
  }
  100%{
    rotate:-720deg;
  }
}

//###################################About

.multi-media-container {
  margin-inline: auto;
  position: relative;
  overflow: hidden;
  padding: 2rem;
  .main-media{
    padding: 2rem;
    img{
      animation:shakeit 20s ease-in-out infinite;
    }
  }
  .tools-media{
    position:absolute;
    inset: 3rem;
    img{
      position:absolute;
      max-width: 80px;
      max-height: 80px;
      &.top{
        top:0;
      }
      &.left{
        left:0;
      }
      &.right{
        right:0;
      }
      &.bottom{
        bottom:0;
      }
      &.center{
        top:50%;
        bottom:auto;
        transform:translateY(-50%);
      }
    }
  }
}


@keyframes shakeit{
  0%, 60%, 100%{
    transform:translateY(0)
  }
  20%,80%{
    transform:translateY(-5px)
  }
  40%{
    transform:translateY(5px)
  }
}
//########################## Content

section{
  &:not(#hero){
    .content{
      h3{
        font-size: clamp(24px, 7vw + 1px, 52px);
        font-weight: 100;
        text-align:center;
        margin-block-end: 2rem;
        em{
          font-style: normal;
          color: var(--clr-call-100);
          font-size: xx-large;
          font-weight: 900;
        }
      }
      h4{
        font-size: 1rem;
        text-transform: uppercase;
        margin-block-end: 1rem;
      }
      p{
        font-size: 1rem;
        font-weight: 100;
        letter-spacing: 1px;
        line-height: 1.5rem;
        margin-block: 1rem;
        &::first-letter{
          font-weight: 900;
          background:var(--clr-call-100);
          color: var(--clr-bg-100);
  
        }
      }
    }
  }
}

//##############################Media Queries

@include tablet{
  body.open{
    scroll-behavior: smooth;
    overflow: unset;
  }
  body::before, body.open::before{
    display: none;
  }
  header{
    &#main-header{
      .wrapper{
        padding-inline:2rem;
        .top-header{
          padding-inline:unset;
          .extern-links{
            a{
              padding: unset;
              width: 40px;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content:center;
            }
          }
        }
        nav{
          border-radius: 1rem;
          box-shadow: var(--shadow);
          padding:unset;
          padding-inline-start: 1rem;
          overflow: hidden;
          .logo-container{
            max-width: 40px;
          }
          .burger-menu{
            display: none;
            pointer-events: none;
          }
          .nav-items{
            position:unset;
            display: flex;
            gap: 1rem;
            width: unset;
            max-width: unset;
            top: unset;
            right:unset;
            border-radius: unset;
            box-shadow: unset;
            padding-inline: 0;
            transition: unset;
            background-color: transparent;
            padding-block:unset;
            opacity: 1;
            pointer-events: auto;
            
            a{
              font-size: 1rem;
              font-weight: normal;
              margin-block: unset;
              padding-block: .5rem;
              padding-inline: 1rem;
              padding-block: 1.5rem;
              text-align: unset;
              &:hover{
                background-color: var(--clr-text-200);
              }
              &.active::after{
                left:1rem;
                transform:unset;
                width: calc(100% - 1rem);
                bottom: 1.2rem;
              }
            }
           }
        }
      }
    }
  }

  //Hero Section
  #hero{
    .content{
      h2{
        font-size: 1.5rem;
        .main{
          font-size: 2.5rem;
          em{
            font-size: 3.5rem;
            display:inline-block;
          }
        }
      }
      p{
        margin-block: 2rem;
      }
      .call{
        a{
         
          font-size: 2rem;
            &::after {
              bottom: -7px;
              height: 2rem;
              transition: all 0.3s;
          }
          &:hover{
            &::after{
              filter:brightness(1.5);
            }
          }
        }
      }
    }
  }
}

@include desktop{
  #hero{
    .wrapper {
      flex-direction: row-reverse;
      align-items: center;
      gap: 1rem;
      justify-content: center;
    }
    .media {
        width: 55%;
        max-width: unset;
    }
    .content{
      width: 40%;
      text-align: unset;
      h2{
        font-size: 1.24rem;
        .top{
          font-weight: 500;
        }
        .main{
          font-size: 2rem;
          em{
            font-size: 3.5rem;
          }
        }
      }
      .call{
        a{
          margin-inline:unset;
        }
      }
    }
  }
}